
	<header id= "body_header">

	<nav>
		<ul class="horizontal_list  text_center nav-menu">
			<li> 
			    <%= link_to('home', { action: 'index', controller: 'lanchi_resume'}) %>
			</li>
			<li>
			  <%= link_to('about', { action: 'about', controller: 'lanchi_resume'}) %>

			</li>
			<li>
				<%= link_to('Skills', { action: 'skills', controller: 'lanchi_resume'}) %>  
		    </li>
			<li>
				<%= link_to('Experience', { action: 'experience', controller: 'lanchi_resume'}) %>  
			</li>
			<li>
				<%= link_to('Education', { action: 'education', controller: 'lanchi_resume'}) %>  
			</li>
			<li>
				<%= link_to('Portfolio', { action: 'portfolio', controller: 'lanchi_resume'}) %>  
			</li>
			<li>
		     	<%= link_to('Contact', { action: 'contact', controller: 'lanchi_resume'}) %>  
			</li>
		</ul>
	</nav>

	
</header>