<section id="education">
			 <h1 class="section-heading mb75px">
                <span>
                    <i class="fa fa-briefcase"></i>
                </span>
                <span>Education</span>
            </h1>

            <div class="timeline">
                <div class="timeline-box">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                           	<%= image_tag ("acetlogo.jpg") %>
                        </div>
                        <h3 class="experience-designation m0 m-blue">Bachelor Of Technology</h3>
                        <h4 class="experience-company-name">
                          <%= link_to("Aligarh College Of Engineering & Technology","https://www.acetup.org/",target: "_blank")%>
                        </h4> 
                        <h5 class="experience-duration m0">Aug 2016 - Aug 2020</h5>
                        <h5 class="experience-duration m0">Percentage: 84.36</h5>
                        <p class="experience-description text-align-justify">
                        The Aligarh College of Engineering & Technology was established by the Jawahar Vidyalaya Society in the year 2001 with the main objective of providing quality education in the field of Engineering & Technology to fulfill the aspirations of young and aspiring students of not only Aligarh region but across the length and breadth of India.
                        </p>
                    </div>   
                </div>

                <div class="timeline-box right">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                           	<%= image_tag ("schoollogo.jpeg") %>
                        </div>
                        <h3 class="experience-designation m0 m-blue">Senior Secondary</h3>
                        <h4 class="experience-company-name">
                        <%= link_to("Radiant Stars English School","https://www.radiantstars.org/", target: "_blank")%>
                        </h4>
                        <h5 class="experience-duration m0">April 2014 - April 2015</h5>
                           <h5 class="experience-duration m0">Percentage: 86.6</h5>
                        <p class="experience-description text-align-justify">
                          Radiant Stars English School, Haridaspur, Aligarh, was established in 2005 under the kind patronage of Shri Vinod Kr Singhal, the son of Late Smt and Shri Bahori Lal ji, who always desired to start the school in rural area. The fact that the hidden roots of intellectuality among the rural children are never nourished and thus die out of negligence.
                       </p>
                    </div>
                </div>

                <div class="timeline-box left">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                           	<%= image_tag ("schoollogo.jpg") %>
                        </div>
                        <h3 class="experience-designation m0 m-blue">High School</h3>
                        <h4 class="experience-company-name">
                         <%= link_to("Radiant Stars English School","https://www.radiantstars.org/", target: "_blank")%>
                        </h4>
                        <h5 class="experience-duration m0">April 2012 - April 2013</h5>
                        <h5 class="experience-duration m0">Percentage: 85.5</h5>
                        <p class="experience-description text-align-justify">
                         Radiant Stars English School, Haridaspur, Aligarh, was established in 2005 under the kind patronage of Shri Vinod Kr Singhal, the son of Late Smt and Shri Bahori Lal ji, who always desired to start the school in rural area. The fact that the hidden roots of intellectuality among the rural children are never nourished and thus die out of negligence.
                      </p>
                    </div>
                </div>

                <div class="timeline-box right">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                          	<%= image_tag ("iglasschool.jpg") %>
                        </div>
                        <h3 class="experience-designation m0 m-blue">From 1st To 6th </h3>
                        <h4 class="experience-company-name">
                        <%= link_to('Iglas Public School','https://schools.org.in/aligarh/09121206021/iglas-public-school-iglas.html',target:'_blank')%>
                        </h4>
                        <h5 class="experience-duration m0">Kids Life</h5>
                        <p class="experience-description text-align-justify">
                        IGLAS PUBLIC SCHOOL IGLAS was established in 2002 and it is managed by the Pvt. Unaided. It is located in Rural area. It is located in IGLAS block of ALIGARH district of Uttar Pradesh. The school consists of Grades from 1 to 5. The school is Co-educational and it doesn't have an attached pre-primary section. The school is N/A in nature and is not using school building as a shift-school
                        </p>
                    </div>
                </div>

                <div id="timeline-divider">
                    <div class="timeline-traveller">
                        <div>
						<i class="fa fa-car"  aria-hidden="true" id="car"></i>
                        </div>

                    </div>
                </div>

            </div>
			
		</section>
