
<section id="portfolio">
			<h1 class="section-heading mb75px">
				<span>
					<i class="fa fa-list"></i>
				</span>
				<span> Portfolio</span>
			</h1>
			
			<div id="portfolio-container">
			
				<div class="portfolio-image-container">
					 	<%= image_tag ("weatherimage.png") %>
                       <div>
                       <p style="color:sienna">Github Link:
                       <%= link_to('https://github.com/lanchiagrawal111/weatherapp','https://github.com/lanchiagrawal111/weatherapp',target:'_blank')%>
                       </p>
                       <p style="color:sienna">Project Link:
                       <%= link_to('https://lanchiagrawal111.github.io/weatherapp/','https://lanchiagrawal111.github.io/weatherapp/',target:'_blank')%>
                       </p>
                    </div>
			
				</div>
			
				<div class="portfolio-image-container">
					<%= image_tag ("superhero.png") %>
                     <div>
                       <p style="color:sienna">Github Link:
                       <%= link_to('https://github.com/lanchiagrawal111/SuperHeroApp','https://github.com/lanchiagrawal111/SuperHeroApp',target:'_blank')%>
                       </p>
                       <p style="color:sienna">Project Link:
                       <%= link_to('https://lanchiagrawal111.github.io/SuperHeroApp/','https://lanchiagrawal111.github.io/SuperHeroApp/',target:'_blank')%>
                       </p>
                    </div>
				</div>
			
				<div class="portfolio-image-container">
					<%= image_tag ("stopwatch.png") %>
					 <div>
                       <p style="color:sienna">Github Link:
                       <%= link_to('https://github.com/lanchiagrawal111/stopwatch','https://github.com/lanchiagrawal111/stopwatch',target:'_blank')%>
                       </p>
                       <p style="color:sienna">Project Link:
                       <%= link_to('https://lanchiagrawal111.github.io/stopwatch/','https://lanchiagrawal111.github.io/stopwatch/',target:'_blank')%>
                       </p>
                    </div>
			
				</div>
			
				<div class="portfolio-image-container">
					<%= image_tag ("moviereview.jpg") %>
                     <div>
                       <p style="color:sienna">Github Link:
                       <%= link_to('https://github.com/lanchiagrawal111/movies_app','https://github.com/lanchiagrawal111/movies_app',target:'_blank')%>
                       </p>
                       <p style="color:sienna">Project Link:
                       <%= link_to('https://romantic-babbage-8a29ea.netlify.app/','https://romantic-babbage-8a29ea.netlify.app/',target:'_blank')%>
                       </p>
                    </div>
					
				</div>
			
				<div class="portfolio-image-container">
					<%= image_tag ("auth.png") %>
                     <div>
                       <p style="color:sienna">Github Link:
                       <%= link_to('https://github.com/lanchiagrawal111/authentication','https://github.com/lanchiagrawal111/authentication',target:'_blank')%>
                       </p>
                    </div>
			
				</div>
			
				<div class="portfolio-image-container">
					<%= image_tag ("socialimage.jpeg") %>
                     <div>
                       <p style="color:sienna">Github Link:
                       <%= link_to('https://github.com/lanchiagrawal111/codeial_final_live','https://github.com/lanchiagrawal111/codeial_final_live',target:'_blank')%>
                       </p>
                    </div>
				</div>
			</div>
			
		</section>

